Source: apache2
Section: web
Priority: optional
Maintainer: Debian Apache Maintainers <debian-apache@lists.debian.org>
Uploaders: Tollef Fog Heen <tfheen@debian.org>, Thom May <thom@debian.org>, Fabio M. Di Nitto <fabbione@fabbione.net>, Adam Conrad <adconrad@0c3.net>, Peter Samuelson <peter@p12n.org>, Stefan Fritsch <sf@debian.org>
Build-Depends: debhelper (>=4.1.16), dpatch, lsb-release, libaprutil1-dev, libapr1-dev (>= 1.2.7-6), openssl, libpcre3-dev, libtool, mawk, zlib1g-dev, libssl-dev
Standards-Version: 3.7.2.0
XS-Vcs-Browser: http://svn.debian.org/wsvn/pkg-apache
XS-Vcs-svn: svn://svn.debian.org/pkg-apache

Package: apache2.2-common
Architecture: any
Depends: ${misc:Depends}, apache2-utils, net-tools, libmagic1, mime-support, lsb-base, procps
Suggests: www-browser, apache2-doc
Conflicts: apache2-common, libapache2-mod-php5 (<= 5.1.6-3), libapache2-mod-php4 (<= 4:4.4.4-2), libapache2-mod-mime-xattr (<= 0.3-2), libapache2-mod-mono (<= 1.1.17-3), libapache2-mod-proxy-html (<= 2.4.3-2), libapache2-mod-scgi (<= 1.11-1), libapache2-mod-speedycgi (<= 2.22-3), libapache2-modxslt (<= 2005072700-1), libapache2-redirtoservername (<= 0.1-1), libapache2-webauth (<= 3.5.3-1), libapache2-webkdc (<= 3.5.3-1)
Replaces: apache2-common
Description: Next generation, scalable, extendable web server
 Apache v2 is the next generation of the omnipresent Apache web server. This
 version - a total rewrite - introduces many new improvements, such as
 threading, a new API, IPv6 support, request/response filtering, and more.
 .
 It is also considerably faster, and can be easily extended to provide services
 other than http.
 .
 This package contains all the standard apache2 modules, including SSL support.
 However, it does *not* include the server itself; for this you need to
 install one of the apache2-mpm-* packages; such as worker or prefork.

Package: apache2-mpm-worker
Architecture: any
Depends: ${shlibs:Depends}, apache2.2-common (= ${Source-Version})
Provides: apache2-mpm, apache2, httpd, httpd-cgi
Conflicts: apache2-mpm, apache2-common
Replaces: apache2-mpm-threadpool (<< 2.0.53), apache2-mpm-perchild (<< 2.2.0)
Description: High speed threaded model for Apache HTTPD
 The worker MPM provides a threaded implementation for Apache HTTPD. It is
 considerably faster than the traditional model, and is the recommended MPM.
 .
 Worker generally is a good choice for high-traffic servers because it
 has a smaller memory footprint than the prefork MPM.

Package: apache2-mpm-prefork
Architecture: any
Depends: ${shlibs:Depends}, apache2.2-common (= ${Source-Version})
Provides: apache2-mpm, apache2, httpd, httpd-cgi
Conflicts: apache2-mpm, apache2-common
Description: Traditional model for Apache HTTPD
 This Multi-Processing Module (MPM) implements a non-threaded,
 pre-forking web server that handles requests in a manner similar to
 Apache 1.3. It is appropriate for sites that need to avoid threading for
 compatibility with non-thread-safe libraries. It is also the best MPM
 for isolating each request, so that a problem with a single request will
 not affect any other.
 .
 It is not as fast, but is considered to be more stable.

Package: apache2-mpm-event
Architecture: any
Depends: ${shlibs:Depends}, apache2.2-common (= ${Source-Version})
Provides: apache2-mpm, apache2, httpd, httpd-cgi
Conflicts: apache2-mpm, apache2-common
Description: Event driven model for Apache HTTPD
 The event Multi-Processing Module (MPM) is designed to allow more 
 requests to be served simultaneously by passing off some processing 
 work to supporting threads, freeing up the main threads to work on 
 new requests.
 .
 This MPM is especially suitable for sites that see extensive KeepAlive traffic
 
Package: apache2-mpm-perchild
Architecture: all
Depends: apache2-mpm-worker
Description: Transitional package - please remove
 This is a transitional package to upgrade apache2-mpm-perchild to
 apache2-mpm-worker.

Package: apache2-utils
Architecture: any
Replaces: apache2-common, apache-utils (<< 1.3.33-4)
Conflicts: apache-common (<< 1.3.28.0.1-1)
Depends: ${shlibs:Depends}
Description: utility programs for webservers
 Provides some add-on programs useful for any webserver.  These include:
  - ab (Apache benchmark tool)
  - logresolve (Resolve IP addresses to hostname in logfiles)
  - htpasswd (Manipulate basic authentication files)
  - htdigest (Manipulate digest authentication files)
  - dbmmanage (Manipulate basic authentication files in DBM format, using perl)
  - htdbm (Manipulate basic authentication files in DBM format, using APR)
  - rotatelogs (Periodically stop writing to a logfile and open a new one)
  - split-logfile (Split a single log including multiple vhosts)
  - checkgid (Checks whether the caller can setgid to the specified group)
  - check_forensic (Extract mod_log_forensic output from apache log files)

Package: apache2
Architecture: all
Depends: apache2-mpm-worker (>= ${Source-Version}) | apache2-mpm-prefork (>= ${Source-Version}) | apache2-mpm-event (>= ${Source-Version})
Section: web
Description: Next generation, scalable, extendable web server
 Apache v2 is the next generation of the omnipresent Apache web server. This
 version - a total rewrite - introduces many new improvements, such as
 threading, a new API, IPv6 support, request/response filtering, and more.

Package: apache2-doc
Section: doc
Architecture: all
Description: documentation for apache2
 This is the documentation for apache2, see the apache2 package description
  for more details.

Package: apache2-prefork-dev
Section: devel
Architecture: any
Depends: apache2.2-common (= ${Source-Version}), openssl, libaprutil1-dev
Conflicts: apache2-threaded-dev
Description: development headers for apache2
 This package provides the development headers and apxs2 binary for
 apache2-mpm-prefork; see the apache2 package description for more details.
 .
 This should only be used when you absolutely *have* to have a non-threaded 
 environment, ie for PHP4.

Package: apache2-threaded-dev
Section: devel
Architecture: any
Depends: apache2.2-common (= ${Source-Version}), openssl, libaprutil1-dev
Conflicts: apache2-prefork-dev
Provides: apache2-dev
Description: development headers for apache2
 This package provides the development headers and apxs2 binary for
 threaded versions of apache2; see the apache2 package description
 for more details.

Package: apache2-src
Section: devel
Priority: extra
Architecture: all
Description: Apache source code
 This package includes the complete and patched source code for the
 Apache HTTPD.  It is useful for other packages to build-depend on in
 order to build custom MPMs.
